body {
    width: 501px;
    margin: 4% auto;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
.calculator {
    /*display: inline-block;  the default for span */
    padding: 20px;
    /*width: 400px;
    height: 400px;
    padding: 5px;*/
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    border: 1px solid #e7e7e7;  
    background-color: white; 
}

.input{
    /*display: inline-block;  the default for span */
    padding-right: 15px;
    padding-top: 10px;
    border: 1px solid #e7e7e7; 
    background-color: white; 
    text-align:right;
    vertical-align: top;
    margin-right: 6px;
    height:60px;
}

.operators{}

.operators div{
    display: inline-block;
  border: 1px solid #bbb;
  border-radius: 1px;
  width: 80px;
  padding: 10px;
  text-align: center;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: darkgray;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operators div:hover{
  background-color: darkgray;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.operators div:active{
  font-weight: bold;
}

.numbers{}

.leftPanel{
    display: inline-block;
}

.numbers div{
    display: inline-block;
  border: 1px solid #bbb;
  border-radius: 1px;
  width: 80px;
  padding: 10px;
  text-align: center;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #ddd;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.numbers div:hover{
  background-color: #ddd;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: rgb(119, 119, 119);
}

.numbers div:active{
  font-weight: bold;
}

div.equal{
  display: inline-block;
  border: 1px solid #3079ED;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 127px 10px;
  margin: 10px 6px 10px 0;
  vertical-align: top;
  cursor: pointer;
  color: #FFF;
  background-color: #4d90fe;
  transition: all .2s ease-in-out;
}

div.equal:hover{
  background-color: #4d90fe;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #3361ac;
}

div.equal:active{
  font-weight: bold;
}